* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #07e9ed, #d21111); /* Background gradient */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#07e9ed, #d21111);
    padding: 10px 20px;
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 40px;
    margin-right: 10px;
}

.navbar-brand .brand-name {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #bbf400;
}

.social-icons a {
    text-decoration: none;
    font-size: 28px;
}

.social-icons a.instagram:hover {
    color: #E1306C;
}

.social-icons a.facebook:hover {
    color: #4267B2;
}

.social-icons a.whatsapp:hover {
    color: #25D366;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
    transition: 0.4s;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #0000ff;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: translateY(-3px) scale(1.5);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
